<div class="single-slide" *ngFor="let pro of search">
    <div class="product-card" style="float: left;margin-left: 7.2px;margin-top: 50px;">
        <div class="product-header">
            <a routerLink="/home/detail/{{ pro.id }}" class="author">
            Số Lượng: {{ pro.quantity }}
        </a>
            <h3><a href="product-details.html">{{ pro.name }}</a></h3>
        </div>
        <div class="product-card--body">
            <div class="card-image">
                <img src="{{ pro.image }}" width="365px" height="186px">
                <div class="hover-contents">
                    <a routerLink="/home/detail/{{ pro.id }}" class="hover-image">
                        <img src="{{ pro.image }}" width="365px" height="186px">
                    </a>
                    <div class="hover-btns">
                        <a routerLink="/home/detail/{{ pro.id }}" class="single-btn">
                            <i class="fas fa-shopping-basket"></i>
                        </a>
                        <a routerLink="/home/detail/{{ pro.id }}" class="single-btn">
                            <i class="fas fa-eye"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="price-block">
                <span class="price">$ {{ pro.price }}</span>
                <del class="price-old">£51.20</del>
                <span class="price-discount">20%</span>
            </div>
        </div>
    </div>
</div>
<table>