<nav class="category-nav  primary-nav show">
    <div>
        <a href="javascript:void(0)" class="category-trigger"><i
                class="fa fa-bars"></i>Browse
            categories</a>
        <ul class="category-menu">
            <li class="cat-item has-children">
                <a href="#">Arts & Photography</a>
            </li>
            <li class="cat-item has-children mega-menu"><a href="#">Biographies</a>
            </li>
            <li class="cat-item has-children"><a href="#">Business & Money</a>
            </li>
            <li class="cat-item has-children"><a href="#">Calendars</a>
            </li>
            <li class="cat-item has-children"><a href="#">Children's Books</a>
            </li>
            <li class="cat-item has-children"><a href="#">Comics</a>
            </li>
            <li class="cat-item"><a href="#">Perfomance Filters</a></li>
            <li class="cat-item has-children"><a href="#">Cookbooks</a>
            </li>
            <li class="cat-item hidden-menu-item"><a href="#">Accessories</a></li>
            <li class="cat-item hidden-menu-item"><a href="#">Education</a></li>
            <li class="cat-item hidden-menu-item"><a href="#">Indoor Living</a></li>
        </ul>
    </div>
</nav>