<div class="card-header">
    <table class="table" style="width: 1010px;">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">category Name</th>
                <th scope="col">Created_at</th>
                <th scope="col">
                    <a routerLink="/admin/create-cate">
                        <button style="width: 70px;font-size: 14px;" type="button" class="btn btn-primary">Create</button>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr style="position: relative;" id="tr" *ngFor="let Category of Category | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize let i=index">
                <th scope="row">{{ i + 1 }}</th>
                <td style="height: 80px;">{{ Category.name }}</td>
                <td><input type="date" value="{{ Category.created_at }}"></td>
                <td></td>
                <div class="hover">
                    <a [routerLink]="['/admin/detail-cate/',Category.id]" class="single-btn">
                        <span class="glyphicon glyphicon-eye-open">
                            <i class="i1">Detail</i>
                        </span>
                    </a>
                    <a [routerLink]="['/admin/edit-cate/',Category.id]" class="single-btn">
                        <span style="margin-left: 15px;" class="glyphicon glyphicon-list-alt">
                            <i class="i1">Update</i>
                        </span>
                    </a>
                    <a style="cursor: pointer;color: blue;" (click)="Delete(Category.id)" class="single-btn">
                        <span style="margin-left: 15px;" class="glyphicon glyphicon-trash">
                            <i class="i1">Delete</i>
                        </span>
                    </a>
                </div>
            </tr>
        </tbody>
    </table>
</div>
<ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="Category.length" style="margin-left: 460px;float: left;"></ngb-pagination>