<div class="row">

    <div *ngFor='let product of products' class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{ product.image }}" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">{{ product.name }}</a>
                </h4>
                <h5>${{ product.price }}</h5>
                <p class="card-text">{{ product.description }}</p>
            </div>
            <a class="btn btn-outline-primary">Bye Now</a>
            <a class="btn btn-outline-success" (click)="DetailProduct(product.id)">Chi Tiết</a>
            <a class="btn btn-outline-danger" (click)="Delete(product.id)">xóa</a>
            <!-- //dùng ngModel không cần dùng hàm nữa -->
            <input type="text" [(ngModel)]="product.name">
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div *ngIf="Detail_Product">
            <h3>Chi tiết sản phẩm</h3>
            <div *ngFor=" let Product of Detail_Product">
                <p>{{ Product.id }}</p>
                <p>{{ Product.name }}</p>
                <p>{{ Product.price }}</p>
            </div>
        </div>
    </div>
</div>